<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89971803878-m7qnn2r30g9nrg11q688v9pt2rbsdrkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89971803878-m7qnn2r30g9nrg11q688v9pt2rbsdrkv</string>
	<key>API_KEY</key>
	<string>AIzaSyCuMdAWvvZFnW9sWgnv8EKPxm7SPBFEoeo</string>
	<key>GCM_SENDER_ID</key>
	<string>89971803878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exercise.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-e32c2</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-e32c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89971803878:ios:1e31428e41baa715745d27</string>
</dict>
</plist>